.bg-img {
  background: url("../img/background.jpg") repeat 0 0;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: rgb(254, 254, 254);
  overflow-x: hidden;
}

.dashboard-img {
 background: url("../img/background.jpg") repeat 0 0;	
}

.loginhead {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: white;
  padding: 18px 0;
}

.loginpara {
 text-align: center;
 font-size: 25px;
 font-weight: 600;
 color: white;	
}

/*-- graphs --*/
canvas#doughnut, canvas#line, canvas#polarArea, #bar, #pie, #radar{
  background-color: rgb(255, 255, 255);

.containerA {
    position: relative;
    width: 100%;
    
}

.imageA {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  align-self: center;
}

.middleA {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.containerA:hover .imageA {
  opacity: 0.3;
}

.containerA:hover .middleA {
  opacity: 1;
}

.textA {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.top {
  background:transparent;
  position:relative;	
}

#type {
  background: transparent;
  z-index: 1;	
}

.add-head {
  background-color: black;	
}

.fa fa-camera {
  border-radius: 100px;
  height: 100px;
  width: 100px;	
}


    