@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
html, body {margin: 0; height: 100%; overflow: hidden}

.login {
    background: #333;
}
.loginmodal-container {
  padding: 30px;
  max-width: 500px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  font-size: 26px;
letter-spacing: 2px;
padding: 9px;
background-color:#ef4036;
border-color: #ef4036;
}
#login-modal .loginmodal-container form span {
    text-align: center;
    display: block;
    font-size: 24px;
    color: #656565;
    letter-spacing: 2px;
    margin: 7px 0;
}
.loginmodal-container input[type=email], input[type=password] {
height: 44px;
font-size: 16px;
width: 100%;
background: #fff;
border: 1px solid #d9d9d9;
border-top: 1px solid #c0c0c0;
padding: 0 8px;
-moz-box-sizing: border-box;
margin: 14px 0;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #00aac8;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #1399b1;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
#login-modal .loginmodal-container img {
    max-width: 100%;
    margin-bottom: 20px;
}
.modal-dialog {
    position: relative;
    top: 30px;
}
#login-modal .text-right {
    text-align: right;
    float: right;
}
.login-help{
  font-size: 12px;margin-top: 20px;
}
.login-help a {
    font-size: 17px;
}